---
---
<br>
<br>
<footer id="footer" class="footer light-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="/" class="logo d-flex align-items-center">
          <img src="/assets/img/cslogo.png" alt="Cloudstaff Logo" class="img-fluid">
        </a>
        <p>Cloudstaff, the <strong>#1 Workplace Everywhere</strong>, ignites success with bold, global remote teams, cutting-edge tech, and a vibrant, inclusive vibe. Transform your business with seamless, innovative outsourcing that rocks, anywhere, anytime.</p>
        <div class="social-links d-flex mt-4">
          <a href="https://www.cloudstaff.com/"><i class="bi bi-globe"></i></a>
          <a href="https://www.facebook.com/Cloudstaff/#"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/cloud.staff"><i class="bi bi-instagram"></i></a>
          <a href="https://ph.linkedin.com/company/cloudstaff"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="../About">About</a></li>
          <li><a href="../Team">Team</a></li>

        </ul>
      </div>
      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">-</a></li>
          <li><a href="#">-</a></li>
          <li><a href="#">-</a></li>
          <li><a href="#">-</a></li>
          <li><a href="#">-</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>No. 19 Doña Teresa Avenue</p>
        <p>Villa Teresa Extension</p>
        <p>Angeles, 2009</p>
        <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
        <p><strong>Email:</strong> <span>info@example.com</span></p>
      </div>
    </div>
  </div>
  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Cloudstaff</strong> <span>All Rights Reserved</span></p>
  </div>
</footer>