<section id="contact" class="contact section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Location
    </h2>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
      <div style="width: 100%">
        <iframe 
          width="100%" 
          height="600" 
          frameborder="0" 
          scrolling="no" 
          marginheight="0" 
          marginwidth="0" 
          src="https://maps.google.com/maps?width=100%25&height=600&hl=en&q=Cloudstaff%20SkyClub+(Cloudstaff%20Skyclub)&t=&z=14&ie=UTF8&iwloc=B&output=embed">
        </iframe>
      </div>
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Address</h3>
              <p>No. 19 Doña Teresa Avenue, Villa Teresa Extension, Angeles, 2009</p>
            </div>
          </div><!-- End Info Item -->
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55</p>
            </div>
          </div><!-- End Info Item -->
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>info@example.com</p>
            </div>
          </div><!-- End Info Item -->
        </div>
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
          <p>Cloudstaff has a first-ever Tech conference, "Awesome Experience," held at the Sky Club, in Pampanga, Philippines. The conference was organized in collaboration with AWS and featured speakers from AWS and other companies. It aimed to expand the capabilities of Cloudstaff's software development teams, focusing on cloud technology trends. The event attracted over 130 software development professionals attending in person and virtually.</p>
        </div><!-- End Contact Form -->
      </div>
    </div>
  </div>
</section>