---

---

<header id="header" class="header d-flex align-items-center sticky-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center"
  >
    <a href="/" class="logo d-flex align-items-center me-auto">
      <img
        src="/assets/img/cslogo.png"
        alt="Cloudstaff Logo"
        class="img-fluid"
        style="height:100%;"
      />
    </a>
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/About">About</a></li>
        <li class="dropdown">
          <a href="/Projects"
            ><span>Projects</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i></a
          >
          <ul>
            <li class="dropdown">
              <a href="/Dify"
                ><span>Dify</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i></a
              >
              <ul>
                <li><a href="/dify/Bookstop">Bookstop</a></li>
                <li><a href="/dify/CompanyProfile">Company Profile</a></li>
                <li><a href="/dify/Mystaff">Mystaff</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/LangChain"
                ><span>LangChain</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i></a
              >
              <ul>
                <li><a href="/langchain/BookstopLangChain">Bookstop</a></li>
                <li><a href="/langchain/InvoiceLangChain">Invoice</a></li>
                <li><a href="/langchain/MystaffLangChain">Mystaff</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/Divoom"
                ><span>Divoom</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i></a
              >
              <ul>
                <li><a href="/divoom/KPI">KPI</a></li>
              </ul>
            </li>
            <li><a href="/PersonalProjects">Personal Projects</a></li>
          </ul>
        </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
