<!-- Portfolio Section -->
<section id="portfolio" class="team light-background portfolio section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Meet the Team</h2>
  </div><!-- End Section Title -->

  <div class="container">
    <div
      class="isotope-layout"
      data-default-filter="*"
      data-layout="masonry"
      data-sort="original-order"
    >
      <ul
        class="portfolio-filters isotope-filters"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <li data-filter="*" class="filter-active btn btn-primary">All</li>
        <li data-filter=".filter-UATeam" class="btn btn-outline-primary">UA Team</li>
        <li data-filter=".filter-HackstreetBoyz" class="btn btn-outline-primary">Hackstreet Boyz</li>
        <li data-filter=".filter-AIRepublic" class="btn btn-outline-primary">AI Republic/LangChain Team</li>
        <li data-filter=".filter-WeByte" class="btn btn-outline-primary">WeByte</li>
      </ul><!-- End Portfolio Filters -->

      <div
        class="row gy-4 isotope-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-UATeam">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/carl.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/carl-adrian-m-mendoza-5274b8309" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>AndrianMe</h4>
              <span>Carl Adrian Mendoza</span>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-WeByte">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/andrei.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/andrei-cagungun-2b4b3b353" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>AndreiC</h4>
              <span>Andrei Cagungun</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-WeByte">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/sean.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/seancalvinramos" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>CalvinR</h4>
              <span>Sean Calvin Ramos</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-AIRepublic">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/drei.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/drei-miranda" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>DreiM</h4>
              <span>Andrei Miranda</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-WeByte">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/drew.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/andreifajardo" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>DrewF</h4>
              <span>Jose Andrei Fajardo</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-AIRepublic">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/gab.jpeg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/gabstorres" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>GabtO</h4>
              <span>Gabrielle Torres</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-AIRepublic">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/greg.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/victor-gregory-samson" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>GregS</h4>
              <span>Victor Gregory Samson</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-HackstreetBoyz">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/tatcho.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/jerahmeel-tatcho" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>JerahmeelT</h4>
              <span>Jerahmeel Tatcho</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-AIRepublic">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/kentz.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/kcchavez" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>KentzC</h4>
              <span>Kentz Christian Chavez</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-UATeam">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/kervin.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/kervinc" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>KervinC</h4>
              <span>Kervin Amiel Josh Canlas</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-WeByte">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/klod.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/klodlorenzbondoc" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>KlodB</h4>
              <span>Klod Lorenz Bondoc</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-UATeam">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/lou.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/lou-guerrig-mendoza-816491349" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>LouMe</h4>
              <span>Lou Guerrig Mendoza</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-AIRepublic">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/migs.jpeg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/miguelcarloflores" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>MiguelF</h4>
              <span>Miguel Carlo Flores</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-HackstreetBoyz">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/norman.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/norman-magcalas" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>NormanM</h4>
              <span>Norman Miguel Magcalas</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-UATeam">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/pao.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/paolo-gabriel-m-nievera-887526348" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>PaoN</h4>
              <span>Paolo Gabriel Nievera</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-HackstreetBoyz">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/paul.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/paul-trustan-yumang" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>PaulYu</h4>
              <span>Paul Trustan Yumang</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-HackstreetBoyz">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/tereec.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/tereec" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>TereeC</h4>
              <span>Teree Mari Cabanayan</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-WeByte">
          <div class="team-member">
            <div class="member-img">
              <img src="/assets/img/team/yelmu.png" class="img-fluid" alt="" />
              <div class="social">
                <a href="https://linkedin.com/in/mareiyalouisemuñoz" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>YelMu</h4>
              <span>Mareiya Louise Muñoz</span>
            </div>
          </div>
        </div><!-- End Team Member -->


      </div><!-- End Portfolio Container -->
    </div>
  </div>
</section><!-- /Portfolio Section -->

<!-- Updated the script to ensure better visibility of active and inactive buttons -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const filters = document.querySelectorAll('.portfolio-filters li');

    filters.forEach(filter => {
      filter.addEventListener('click', () => {
        // Remove active class from all filters
        filters.forEach(f => {
          const element = f as HTMLElement;
          element.classList.remove('filter-active', 'btn-primary');
          element.classList.add('btn-outline-primary');
          element.style.color = '#007bff'; // Default color for inactive buttons
        });

        // Add active class to the clicked filter
        const activeElement = filter as HTMLElement;
        activeElement.classList.add('filter-active', 'btn-primary');
        activeElement.classList.remove('btn-outline-primary');
        activeElement.style.color = '#ffffff'; // White color for active button text
      });

      // Add hover effect
      filter.addEventListener('mouseover', () => {
        const hoverElement = filter as HTMLElement;
        if (!hoverElement.classList.contains('filter-active')) {
          hoverElement.style.color = '#0056b3'; // Darker blue for hover
        }
      });

      filter.addEventListener('mouseout', () => {
        const hoverElement = filter as HTMLElement;
        if (!hoverElement.classList.contains('filter-active')) {
          hoverElement.style.color = '#007bff'; // Revert to default color
        }
      });
    });
  });
</script>

<!-- Add custom styles for better button visibility and hover effect -->
<style>
  .portfolio-filters li.btn.btn-primary {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
  }
  .portfolio-filters li.btn.btn-outline-primary {
    color: #0d6efd !important;
    background-color: #fff !important;
    border-color: #0d6efd !important;
  }
  .portfolio-filters li.btn.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
  }
</style>
